{% extends "base.html" %}

{% block title %}Mi superbiblio{% endblock %}

{% block content %}

<h1>Índice del Catálogo</h1>

{{autor}}

<h2 class="mt-4">Últimos libros</h2>
<ul>
    {% for libro in libros%}
    <!--Escribiendo {{libros}} sale el jQuery pero queda un poco marrullero-->
    <li>{{libro.title}}
        {% if libro.author %} <!--Si tiene autor, muéstralo. -->
        ({{libro.author.last_name}})
        {% endif %}</li>
    <!--pongo paréntesis porque quiero que lo muestre así, no es neceario en sintaxis-->
    {% endfor %}
</ul>

{% endblock %}